body {
  background-color: palegoldenrod;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
}

a {
  font-weight: bold;
}

ul {
  margin: 5px 0;
}

img {
  margin-bottom: 5px;
}
